## 1) Database and difference between sql and nosql:

### Database:
(i) Database is an organised collection of structured information that is stored electronically in computer which can be easily accessed and managed.
(ii) It is controlled by Database Management System(DBMS).
(iii) The main purpose of database is to operate large amount of information by storing,retreiving and managing data.
### Difference between sql and nosql:
(i) sql database is also called as relational database, nosql is called as non-relational or distributed database.
(ii) sql db has pre-defined or fixed schema, nosql has dynamic schema.
(iii) sql db is not suited for hierarchial data storage, nosql db is best suited for hierarchial data storage.
(iv) sql db is suited for complex queries, nosql db is not suited for complex queries.
(v) sql db is verically scalable, nosql db is horiontally scalable.
(vi) sql db follows ACID(Atomicity,Consistency,Isolation,Durability) property, nosql follows CAP(Consistency,Avai

## 2) DDL:

DDL is the Data Definition Language used to define database schema.It deals with the description of database schema.
It is used to create and modify the structure of database objects in the database.
DDL is a set of commands used to create,modify and delete the database structure but not the data.

### DDL COMMANDS:
create- It is used to create the database or its objects.
drop- It is used to delete the objects from the database.
alter- It is used to alter the structure of the database.
truncate- It is used to remove all the records from the table including the space allocated for it.

### Example:
(i) create table student(name varchar(20), age int(2), course varchar(20))
(ii) alter table student add year int(4)
(iii) drop table student
(iv) drop table student

## 3) DML:

DML is the Data Manipulation Language that is used to manipulate the data present in the database. It consists of insert,delete,update and lock commands

### Example:
(i) insert into student('jothi',24,'data science')
(ii) update student set(age=25) where name='jothi';
(iii) delete from student where course='data science'

### DML commands:

insert- Used to insert data into the table.
update- Used to update existing data within the table.
delete- Used to delete data from the table.

## 4) DQL:

DQL is the Data Query Language used to retreive data from the user with the help of Select command.

### Example:
SELECT * from student;

## 5) Primary key and Foreign key:

Primary key is used to ensure data in the specific column is unique.It uniquely identifies the data in the table. Only one primary key is allowed in the table. It is a combination of Unique and Not null constraints. It does not allow Null values. It's value cannot be deleted from the parent table. Its constraint can be implicity defined on the temporary tables. Foreignn key is a column or a group of columns in a relational database table that provides a link between data in two tables. It refers to the field in a table which is the primary key of another table. More than one foreign key is allowed. It can contains duplicate values and table in database. It can also contains null value. Its value can be deleted from the child table. Its contraint cannot be defined on the local or global temporary tables.

## 6) cursor() and execute() methods:

cursor() enables the python script to use database session to run. Connection class is used to create curson().
execute() is used to execute sql commands.

In [ ]:
import mysql.connector
mydb=mqsql.connector.connect(host="localhost",user='abc',password='password')
mycursor=mydb.cursor()
mycursor.execute('show databases')
for x in mycursor:
    print(x)

## 7) Order of execution of SQL clauses in an SQL query:

The order of execution of sql cluases in an sql query process as follows:
1) FROM
2) ON
3) OUTER
4) WHERE
5) GROUP BY
6) HAVING 
7) SELECT
8) DISTINCT
9) ORDER BY
10) TOP