In [1]:
## 1) MongoDB:
''' MongoDB is a document-oriented,open-source, and one of the most popular NoSQL database. The term NoSQL means non-relational.
Non relational database has no table like relational database structure.It stores the data in BSON format which is very similar to JSON format.
It has different mechanism for storage and retreival.
Uses of MongoDB:
(i) It is mostly used when we handle very large amount of data.
(ii) We can easily add new fields since it is schema-less.
(iii) Mostly used when we have distributed data.'''

' MongoDB is a document-oriented,open-source, and one of the most popular NoSQL database. The term NoSQL means non-relational.\nNon relational database has no table like relational database structure.It stores the data in BSON format which is very similar to JSON format.\nIt has different mechanism for storage and retreival.\nUses of MongoDB:\n(i) It is mostly used when we handle very large amount of data.\n(ii) We can easily add new fields since it is schema-less.\n(iii) Mostly used when we have distributed data.'

In [2]:
## 2) Features of MongoDB:
'''(i) Document oriented-Since it is a NoSQL database, it stores the data in document instead of tables.
(ii)Scalable- It is horizontally scalable using shreds
(iii)Indexing- For efficient searching, Indexing is used since it process huge amount of data in very less time
(iv)High Availability- It increases the availability by storing the data in different servers which protect the data from hardware failure.
(v)Aggregation- It process the data and returns the computed results.'''

'(i) Document oriented-Since it is a NoSQL database, it stores the data in document instead of tables.\n(ii)Scalable- It is horizontally scalable using shreds\n(iii)Indexing- For efficient searching, Indexing is used since it process huge amount of data in very less time\n(iv)High Availability- It increases the availability by storing the data in different servers which protect the data from hardware failure.\n(v)Aggregation- It process the data and returns the computed results.'

In [4]:
## 3) To connect MongoDB with python:
import pymongo
client = pymongo.MongoClient("mongodb+srv://jothimalar:jothimalar@database1.98ysotm.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db=client['Student']
coll_name=db['Stud_coll']
data={'name':'jothi','age':25,'course':'data science'}
coll_name.insert_one(data)

In [8]:
## 4) To use insert_one(),insert_many(),find(),find_one():
data1={'name':'malar','age':24,'course':'java'}
coll_name.insert_one(data1)
data2=({'name':'sanat','age':29,'course':'javascript'},{'name':'anu','age':21,'course':'python'},{'name':'nirmal','age':26,'course':'R'})
coll_name.insert_many(data2)

In [9]:
data3={'name':'Lishanth','age':24,'course':'ruby'}
coll_name.insert_one(data3)

In [11]:
print("using find() method")
for i in coll_name.find():
  print(i)
print("using find_one() method")
print(coll_name.find_one({'age':24}))

using find() method
{'_id': ObjectId('63f31d3be7ffaccc570e68e2'), 'name': 'jothi', 'age': 25, 'course': 'data science'}
{'_id': ObjectId('63f31e24e7ffaccc570e68e3'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e3de7ffaccc570e68e4'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e5'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e6'), 'name': 'sanat', 'age': 29, 'course': 'javascript'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e7'), 'name': 'anu', 'age': 21, 'course': 'python'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e8'), 'name': 'nirmal', 'age': 26, 'course': 'R'}
{'_id': ObjectId('63f32085e7ffaccc570e68e9'), 'name': 'Lishanth', 'age': 24, 'course': 'ruby'}
using find_one() method
{'_id': ObjectId('63f31e24e7ffaccc570e68e3'), 'name': 'malar', 'age': 24, 'course': 'java'}

In [12]:
## 5) find() method:
'''find() method is used to select the documents in the collection and returns the cursor to the selected document.
When we use find() method, it returns the pointer on the selected document and returns one by one.'''
print("using find() method")
for i in coll_name.find():
  print(i)

using find() method
{'_id': ObjectId('63f31d3be7ffaccc570e68e2'), 'name': 'jothi', 'age': 25, 'course': 'data science'}
{'_id': ObjectId('63f31e24e7ffaccc570e68e3'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e3de7ffaccc570e68e4'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e5'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e6'), 'name': 'sanat', 'age': 29, 'course': 'javascript'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e7'), 'name': 'anu', 'age': 21, 'course': 'python'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e8'), 'name': 'nirmal', 'age': 26, 'course': 'R'}
{'_id': ObjectId('63f32085e7ffaccc570e68e9'), 'name': 'Lishanth', 'age': 24, 'course': 'ruby'}

In [35]:
## 6) sort() in MongoDB:
'''sort() specifies the order in which the query returns the matching documents from the collection.
It takes the document as the parameter that contains the field:value pair that defines the sort order of the result.
The value is 1 or -1 which specifies the ascending or descending order sort respectively'''
print("sorting name in descending order")
sorted_list=coll_name.find().sort("name",-1)
for i in sorted_list:
  print(i)
print("sorting age in ascending order")
sorted_list1=coll_name.find().sort("age",1)
for i in sorted_list1:
  print(i)

sorting name in descending order
{'_id': ObjectId('63f31e62e7ffaccc570e68e6'), 'name': 'sanat', 'age': 29, 'course': 'javascript'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e8'), 'name': 'nirmal', 'age': 26, 'course': 'R'}
{'_id': ObjectId('63f31e24e7ffaccc570e68e3'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e3de7ffaccc570e68e4'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e5'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31d3be7ffaccc570e68e2'), 'name': 'jothi', 'age': 25, 'course': 'data science'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e7'), 'name': 'anu', 'age': 21, 'course': 'python'}
{'_id': ObjectId('63f32085e7ffaccc570e68e9'), 'name': 'Lishanth', 'age': 24, 'course': 'ruby'}
sorting age in ascending order
{'_id': ObjectId('63f31e62e7ffaccc570e68e7'), 'name': 'anu', 'age': 21, 'course': 'python'}
{'_id': ObjectId('63f31e24e7ffaccc570e68e3'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e3de7ffaccc570e68e4'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e5'), 'name': 'malar', 'age': 24, 'course': 'java'}
{'_id': ObjectId('63f32085e7ffaccc570e68e9'), 'name': 'Lishanth', 'age': 24, 'course': 'ruby'}
{'_id': ObjectId('63f31d3be7ffaccc570e68e2'), 'name': 'jothi', 'age': 25, 'course': 'data science'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e8'), 'name': 'nirmal', 'age': 26, 'course': 'R'}
{'_id': ObjectId('63f31e62e7ffaccc570e68e6'), 'name': 'sanat', 'age': 29, 'course': 'javascript'}

In [36]:
## 7) delete_one(),delete_many(),drop():
'''delete_many() is used to delete all the documents in the collection.
delete_one() is used to delete a single document in the collection.
drop() is used to drop a collection from the database.'''

'delete_many() is used to delete all the documents in the collection.\ndelete_one() is used to delete a single document in the collection.\ndrop() is used to drop a collection from the database.'