In [1]:
## Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some algorithms that are not affected by missing values.
'''Missing data, or missing values, occur when you don’t have data stored for certain variables or participants. 
Data can go missing due to incomplete data entry, equipment malfunctions, lost files, and many other reasons.
Missing data are problematic because, depending on the type, they can sometimes cause sampling bias. 
This means your results may not be generalizable outside of your study because your data come from an unrepresentative sample.
The k-NN algorithm can ignore a column from a distance measure when a value is missing. Naive Bayes can also support missing values when making a prediction.'''

'Missing data, or missing values, occur when you don’t have data stored for certain variables or participants. \nData can go missing due to incomplete data entry, equipment malfunctions, lost files, and many other reasons.\nMissing data are problematic because, depending on the type, they can sometimes cause sampling bias. \nThis means your results may not be generalizable outside of your study because your data come from an unrepresentative sample.\nThe k-NN algorithm can ignore a column from a distance measure when a value is missing. Naive Bayes can also support missing values when making a prediction.'

In [2]:
## Q2: List down techniques used to handle missing data. Give an example of each with python code.
'''1. Delete the Data
The easiest method is to just simply delete the whole training examples where one or several columns have null entries.
2. Imputing Averages
The next method is to assign some average value (mean, median, or mode) to the null entries.
3. Assign Random values:
We can assign random values related to the dataset in the place of missing value.'''
import seaborn as sns
data=sns.load_dataset('titanic')
data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [3]:
data.shape

(891, 15)

In [4]:
## (i) dropping rows which have missing values:
data.dropna()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [5]:
## (ii) Imputing mean value:
data['age_mean']=data['age'].fillna(data['age'].mean())
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_mean
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.000000
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.000000
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.000000
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.000000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,27.000000
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.000000
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,29.699118
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.000000
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,32.000000

In [6]:
## Filling random value:
data['age_mean']=data['age'].fillna(23)
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_mean
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,27.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,23.0
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,32.0

In [7]:
## Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?
'''An imbalanced dataset can cause issues when training a model, especially when the dataset is small. 
A model needs many observations of each target class to be able to generalise adequately, so for small datasets there can simply not be enough minority class observations for the model to learn from. 
This leads to poor performance on both evaluation and scoring datasets.
Imbalanced data can cause issues in understanding the performance of a model. 
When evaluating performance on imbalanced data, models that only predict well for the majority class will seem to be highly performant when looking at simple metrics such as accuracy, 
whilst in actuality, the model is performing poorly.
In the case of imbalanced data, majority classes dominate over minority classes, causing the machine learning classifiers to be more biased towards majority classes. 
This causes poor classification of minority classes. Classifiers may even predict all the test data as majority classes.'''

'An imbalanced dataset can cause issues when training a model, especially when the dataset is small. \nA model needs many observations of each target class to be able to generalise adequately, so for small datasets there can simply not be enough minority class observations for the model to learn from. \nThis leads to poor performance on both evaluation and scoring datasets.\nImbalanced data can cause issues in understanding the performance of a model. \nWhen evaluating performance on imbalanced data, models that only predict well for the majority class will seem to be highly performant when looking at simple metrics such as accuracy, \nwhilst in actuality, the model is performing poorly.\nIn the case of imbalanced data, majority classes dominate over minority classes, causing the machine learning classifiers to be more biased towards majority classes. \nThis causes poor classification of minority classes. Classifiers may even predict all the test data as majority classes.'

In [8]:
## Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-sampling are required.
'''In machine learning, up-sampling and down-sampling are techniques used to resize data sets. 
Upsampling increases the size of the data set by replicating samples, while downsampling decreases the size of the data set by removing samples.
Downsampling reduces dimensionality of the features while losing some information. It saves computation2. Upsampling brings back the resolution to the resolution of previous layer.
For example, if you have an imbalanced dataset with a majority class and a minority class, you can use downsampling to reduce the number of samples in the majority class and balance out your dataset and viceversa.'''

'In machine learning, up-sampling and down-sampling are techniques used to resize data sets. \nUpsampling increases the size of the data set by replicating samples, while downsampling decreases the size of the data set by removing samples.\nDownsampling reduces dimensionality of the features while losing some information. It saves computation2. Upsampling brings back the resolution to the resolution of previous layer.\nFor example, if you have an imbalanced dataset with a majority class and a minority class, you can use downsampling to reduce the number of samples in the majority class and balance out your dataset and viceversa.'

In [9]:
## Q5: What is data Augmentation? Explain SMOTE.
'''Data augmentation is a technique used to increase the size of a dataset by creating new data points based on the existing data points. 
SMOTE (Synthetic Minority Over-sampling Technique) is an algorithm that performs data augmentation by creating synthetic data points based on the original data points. 
SMOTE can be seen as an advanced version of oversampling, or as a specific algorithm for data augmentation. 
SMOTE is generally used to address the class imbalance problem in classification tasks.'''

'Data augmentation is a technique used to increase the size of a dataset by creating new data points based on the existing data points. \nSMOTE (Synthetic Minority Over-sampling Technique) is an algorithm that performs data augmentation by creating synthetic data points based on the original data points. \nSMOTE can be seen as an advanced version of oversampling, or as a specific algorithm for data augmentation. \nSMOTE is generally used to address the class imbalance problem in classification tasks.'

In [10]:
## Q6: What are outliers in a dataset? Why is it essential to handle outliers?
'''Outliers are extreme values that differ from most other data points in a dataset. 
They can have a big impact on your statistical analyses and skew the results of any hypothesis tests. 
It’s important to carefully identify potential outliers in your dataset and deal with them in an appropriate manner for accurate results.'''

'Outliers are extreme values that differ from most other data points in a dataset. \nThey can have a big impact on your statistical analyses and skew the results of any hypothesis tests. \nIt’s important to carefully identify potential outliers in your dataset and deal with them in an appropriate manner for accurate results.'

In [11]:
## Q7: You are working on a project that requires analyzing customer data. However, you notice that some of the data is missing. What are some techniques you can use to handle the missing data in your analysis?
'''There are several techniques that can be used to handle missing data in analysis. Some of them are:
1) Data Dropping: This technique involves removing observations or features with missing values from the dataframe using the dropna() function.
2) Mean/Median Imputation: These replacement strategies involve replacing missing values with the mean or median of the non-missing values.
3) Random Sample Imputation: This technique involves replacing missing values with random samples from the non-missing values.
4) Multiple Imputation: This technique involves creating multiple imputed datasets and then analyzing each dataset separately before combining them into a single result.
5) Measure of central tendency (Mean, Median & Mode): This technique involves replacing missing values with the mean, median or mode of the non-missing values.
6) Most probable value (ML Algorithms): This technique involves using machine learning algorithms to predict missing values based on other features in the dataset.'''

'There are several techniques that can be used to handle missing data in analysis. Some of them are:\n1) Data Dropping: This technique involves removing observations or features with missing values from the dataframe using the dropna() function.\n2) Mean/Median Imputation: These replacement strategies involve replacing missing values with the mean or median of the non-missing values.\n3) Random Sample Imputation: This technique involves replacing missing values with random samples from the non-missing values.\n4) Multiple Imputation: This technique involves creating multiple imputed datasets and then analyzing each dataset separately before combining them into a single result.\n5) Measure of central tendency (Mean, Median & Mode): This technique involves replacing missing values with the mean, median or mode of the non-missing values.\n6) Most probable value (ML Algorithms): This technique involves using machine learning algorithms to predict missing values based on other features in the dataset.'

In [12]:
'''Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are some strategies you can use to determine if the missing data is missing at random or if there is a pattern
to the missing data?'''
'''There are several methods to determine if missing data is missing at random or if there is a pattern to the missing data. Here are some of them:
1) Mean or Median Imputation: When data is missing at random, we can use list-wise or pair-wise deletion of the missing observations. 
However, there can be multiple reasons why this may not be the most feasible option. In such cases, we can use mean or median imputation.
2) Multivariate Imputation by Chained Equations (MICE): MICE assumes that the missing data are Missing at Random (MAR). 
It imputes missing values by creating multiple imputations based on a set of regression models.
3) Random Forest: Random Forest can be used to determine if there is a pattern to the missing data.'''

'There are several methods to determine if missing data is missing at random or if there is a pattern to the missing data. Here are some of them:\n1) Mean or Median Imputation: When data is missing at random, we can use list-wise or pair-wise deletion of the missing observations. \nHowever, there can be multiple reasons why this may not be the most feasible option. In such cases, we can use mean or median imputation.\n2) Multivariate Imputation by Chained Equations (MICE): MICE assumes that the missing data are Missing at Random (MAR). \nIt imputes missing values by creating multiple imputations based on a set of regression models.\n3) Random Forest: Random Forest can be used to determine if there is a pattern to the missing data.'

In [13]:
'''Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the dataset do not have the condition of interest, while a small percentage do. What are some strategies you
can use to evaluate the performance of your machine learning model on this imbalanced dataset?'''
'''There are several strategies that can be used to evaluate the performance of a machine learning model on an imbalanced dataset. 
One of the most widely adopted methods is called resampling. 
It involves removing samples from the majority class (under-sampling) and/or adding more examples from the minority class (over-sampling). 
Other techniques include using different performance metrics such as precision, recall, F1 score, and ROC-AUC score.
Another technique is to use cost-sensitive learning. This involves assigning different misclassification costs to different classes.
For example, misclassifying a positive instance as negative may have a higher cost than misclassifying a negative instance as positive.
Ensemble methods such as bagging and boosting can also be used to improve the performance of machine learning models on imbalanced datasets.'''

'There are several strategies that can be used to evaluate the performance of a machine learning model on an imbalanced dataset. \nOne of the most widely adopted methods is called resampling. \nIt involves removing samples from the majority class (under-sampling) and/or adding more examples from the minority class (over-sampling). \nOther techniques include using different performance metrics such as precision, recall, F1 score, and ROC-AUC score.\nAnother technique is to use cost-sensitive learning. This involves assigning different misclassification costs to different classes.\nFor example, misclassifying a positive instance as negative may have a higher cost than misclassifying a negative instance as positive.\nEnsemble methods such as bagging and boosting can also be used to improve the performance of machine learning models on imbalanced datasets.'

In [14]:
'''Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to
balance the dataset and down-sample the majority class?'''
'''When dealing with an unbalanced dataset, there are several methods that can be employed to balance the dataset and down-sample the majority class. Here are some of them:
1) Collect more data
2) Change your performance metric
3) Resample your dataset
4) Generate synthetic samples
5) Try different algorithms
6)Penalized models
Resampling your dataset can be done through under-sampling or over-sampling. 
With under-sampling, you randomly select a subset of samples from the class with more instances to match the number of samples coming from each class. 
With over-sampling, you replicate the data of minority class (positive labels) in order to balance the dataset.'''

'When dealing with an unbalanced dataset, there are several methods that can be employed to balance the dataset and down-sample the majority class. Here are some of them:\n1) Collect more data\n2) Change your performance metric\n3) Resample your dataset\n4) Generate synthetic samples\n5) Try different algorithms\n6)Penalized models\nResampling your dataset can be done through under-sampling or over-sampling. \nWith under-sampling, you randomly select a subset of samples from the class with more instances to match the number of samples coming from each class. \nWith over-sampling, you replicate the data of minority class (positive labels) in order to balance the dataset.'

In [15]:
'''Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a project that requires you to estimate the occurrence of a rare event. What methods can you employ to
balance the dataset and up-sample the minority class?'''
'''There are several methods that can be employed to balance an unbalanced dataset and up-sample the minority class. Here are some of them:
1) Use the right evaluation metrics: Applying inappropriate evaluation metrics for model generated using imbalanced data can be dangerous. In this case, accuracy is not a good metric to evaluate our model performance.
2) Resample the training set: Resampling techniques can be applied to balance the dataset by either oversampling the minority class or undersampling the majority class.
3) Use K-fold Cross-Validation in the Right Way: K-fold cross-validation can be used to evaluate a model with imbalanced data.
4) Ensemble Different Resampled Datasets: Ensemble methods can be used to combine different resampled datasets.
5) Resample with Different Ratios: Resampling can be done with different ratios of minority class samples to majority class samples.
6) Cluster the abundant class: Clustering algorithms can be used to cluster abundant class samples and then select representative samples from each cluster.
7) Design Your Models: Designing models that are robust against imbalanced data is another way to handle imbalanced datasets.'''

'There are several methods that can be employed to balance an unbalanced dataset and up-sample the minority class. Here are some of them:\n1) Use the right evaluation metrics: Applying inappropriate evaluation metrics for model generated using imbalanced data can be dangerous. In this case, accuracy is not a good metric to evaluate our model performance.\n2) Resample the training set: Resampling techniques can be applied to balance the dataset by either oversampling the minority class or undersampling the majority class.\n3) Use K-fold Cross-Validation in the Right Way: K-fold cross-validation can be used to evaluate a model with imbalanced data.\n4) Ensemble Different Resampled Datasets: Ensemble methods can be used to combine different resampled datasets.\n5) Resample with Different Ratios: Resampling can be done with different ratios of minority class samples to majority class samples.\n6) Cluster the abundant class: Clustering algorithms can be used to cluster abundant class samples and then select representative samples from each cluster.\n7) Design Your Models: Designing models that are robust against imbalanced data is another way to handle imbalanced datasets.'