In [1]:
# 1) To display the grade
percentage=int(input("Enter the percentage: "))
if(percentage>90): print("Grade:A")
elif(percentage>80 and percentage<=90): print("Grade:B")
elif(percentage>=60 and percentage<=80): print("Grade:C")
else: print("Grade:D")

Enter the percentage: 76
Grade:C

In [2]:
# 2) To display the road tax
cost=int(input("Enter the bike price: "))
if(cost>100000): 
  tax=(cost*0.15)
  print(f"Raod Tax to pay: {tax}")
elif(cost>50000 and cost<=100000):
   tax=(cost*0.10)
   print(f"Raod Tax to pay: {tax}")
else:
  tax=(cost*0.05)
  print(f"Raod Tax to pay: {tax}")

Enter the bike price: 85000
Raod Tax to pay: 8500.0

In [3]:
# 3) To display the monument of the city
city=input("Enter the city: ")
monument={"Delhi":"Red Fort","Agra":"Taj Mahal","Jaipur":"Jal Mahal"}
print("The monument in the given city is",monument[city])

Enter the city: Agra
The monument in the given city is Taj Mahal

In [4]:
# 4) To find the number of times a number is divided by 3 before it is less than or equal to 10
num=int(input("Enter the number: "))
temp=num
temp1=0
count=0
while(temp>=10):
   if(temp%3==0):
     temp=temp//3
     count+=1
   else: 
     print("The number is not divisible by 3")
     break
print(f"Count: {count}")

Enter the number: 99
The number is not divisible by 3
Count: 2

In [5]:
# 5) Purpose of while loop:
"""The while loop is used when we don't know the number of times the loop has to execute. 
It executes the statement as long as the condition is true.
In the below example,the loop will run till the number is equal to 10".
    Intially if the number is 0 and we increment the number by 1, the loop will executes 11 times.
    if the number is 0 and we increment the number by 2, the loop will executes 6 times"""
number=0
while(number<=10):
  print(number)
  number+=2

0
2
4
6
8
10

In [6]:
# 6) Nested while loop to print different pattern
""" 1. Right angled triangle
    2. Inverted Right angled triangle
    3. Equilateral Triangle""" 

n=int(input("Enter the number: "))
m=1
print("Right angled triangle")
i=j=1
while i<=n:
  while j<=i:
    print("*",end="")
    j+=1
  print("\r")
  i+=1
  j=1
print("-----------------------")
print("Inverted Right angled triangle")
i=1
j=n
while i<=n:
  while j>=i:
    print("*",end="")
    j-=1
  print("\r")
  i+=1
  j=n
print("-----------------------")
print("Equilateral triangle")
i=j=1
k=0
while i<=n:
  while k<=n-i:
    print(" ",end="")
    k+=1
  while j<=2*i-1:
    print("*",end="")
    j+=1
  print("\r")
  i+=1
  j=1
  k=0

Enter the number: 5
Right angled triangle
*
**
***
****
*****
-----------------------
Inverted Right angled triangle
*****
****
***
**
*
-----------------------
Equilateral triangle
     *
    ***
   *****
  *******
 *********

In [7]:
# 7) Reverse while loop to display number from 10 to 1
n=10
while(n>0):
  print(n)
  n-=1

10
9
8
7
6
5
4
3
2
1