In [1]:
import pandas as pd

In [2]:
## 1) To print a pandas series:
df=pd.Series([4,8,15,16,23,42])
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
## 2) To create a variable of list type containing 10 elements in it, and apply pandas.Series function to print it:
list1=list(range(0,10))
print(pd.Series(list1))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [4]:
## 3) To create a Pandas DataFrame
df=pd.DataFrame({"Name":["Alice","Bob","Claire"],
                 "Age":[25,30,27],
                 "Gender":["Female","Male","Female"]})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [5]:
## 4) DataFrame and pandas.Series:
'''DataFrame is a two-dimensional, mutable and heterogenous data in tabular data structure that stores the values with labelled axis.
It consists of data,rows and columns.
pandas.Series is a one-dimesional array with homogenous data with labelled axis.'''
df=pd.DataFrame({"Name":["Alice","Bob","Claire"],
                 "Age":[25,30,27],
                 "Gender":["Female","Male","Female"]})
print(df) ## Prints the dataFrame
print("-----------")
name=df["Name"] ## Prints the Series
print(name)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
-----------
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

In [6]:
## 5) Functions used to manipulate data in a Pandas DataFrame:
## Adding a new column, Dropping an existing column, Renaming the column name are some of the manipulation function used DataFrame.
df=pd.DataFrame({"Name":["Alice","Bob","Claire"],
                 "Age":[25,30,27],
                 "Gender":["Female","Male","Female"]})
print(df) ## Prints the dataFrame
print("-----------------")
print("After adding a new column")
df["Course"]=["Python","Java","R"]
print(df)
print("-----------------")
print("After deleting an existing column")
df.drop(columns="Age",inplace=True)
print(df)
print("-----------------")
print("After renaming a column")
df.rename(columns={"Name":"Student"},inplace=True)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
-----------------
After adding a new column
     Name  Age  Gender  Course
0   Alice   25  Female  Python
1     Bob   30    Male    Java
2  Claire   27  Female       R
-----------------
After deleting an existing column
     Name  Gender  Course
0   Alice  Female  Python
1     Bob    Male    Java
2  Claire  Female       R
-----------------
After renaming a column
  Student  Gender  Course
0   Alice  Female  Python
1     Bob    Male    Java
2  Claire  Female       R

In [7]:
## 6) Mutablitity of Series, DataFrame, Panel:
'''Series is an one dimensional homogenous data structure in which size is immutable but data is mutable.
DataFrame is a two dimensional heterogenous data structure in which both size and data is mutable.
Panel is a three dimensional heterogenous data structure in which both size and data is mutable.'''

'Series is an one dimensional homogenous data structure in which size is immutable but data is mutable.\nDataFrame is a two dimensional heterogenous data structure in which both size and data is mutable.\nPanel is a three dimensional heterogenous data structure in which both size and data is mutable.'

In [8]:
## 7) To create a DataFrame using multiple Series:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([6,7,8,9,10])
df=pd.DataFrame({'col1':s1,'col2':s2})
print(df)

   col1  col2
0     1     6
1     2     7
2     3     8
3     4     9
4     5    10