In [1]:
# 1) To sort the list based on Integer value using lambda function:
list1=[('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]
list1.sort(key=lambda list1:(list1[1]))
print(list1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
# 2) To find the square of numbers in the given list using lambda and map function
list1=[1,2,3,4,5,6,7,8,9,10]
list2=list(map(lambda x:x**2,list1))
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# 3) To convert the given list of numbers into tuple of strings:
list1=[1,2,3,4,5,6,7,8,9,10]
tuple1=tuple(map(lambda x:str(x),list1))
print(tuple1)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
# 4) Reduce function to compute the product of numbers:
from functools import reduce
list1=range(1,26)
product=reduce(lambda x,y:x*y,list1)
print(product)

15511210043330985984000000

In [5]:
# 5) Filter the numbers in given list that are divisible by both 2 and 3:
list1=[2,3,6,9,27,60,90,120,55,46]
list2=list(filter(lambda x: x%2==0 and x%3==0,list1))
print(list2)

[6, 60, 90, 120]

In [6]:
# 6) To find palindromes in the given list using lambda and filter:
list1=["python","php","aba","radar","level"]
list2=list(filter(lambda s: s=="".join(reversed(s)),list1))
print(list2)

['php', 'aba', 'radar', 'level']