In [1]:
# 1) Characteristics of Tuple:
'''(i) Tuple performs similar oprations that of list but it is Immutable.
   (ii) It has only 2 functions- index(),count().
   (iii) It is enclosed within () brackets.
   (iv) It is ordered collection and can store duplicate elements'''

# Yes, Tuple is Immutable

'(i) Tuple performs similar oprations that of list but it is Immutable.\n   (ii) It has only 2 functions- index(),count().\n   (iii) It is enclosed within () brackets.\n   (iv) It is ordered collection and can store duplicate elements'

In [2]:
# 2) Methods in Tuple:
''' Tuple has only 2 methods- index(),count(). Since Tuple is immutable, manipulation operations such as add,remove,item assignments can't be done as of list'''
tuple1=(1,4,"python",2.3,True,"python","programming")
print(tuple1.index("programming"))
print(tuple1.count("python"))

6
2

In [3]:
# 3) To remove duplicate elements in the given list:
  # Set collection data type does not allow duplicate values in python.
List={1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4}
set1=set(List)
print(set1)

{1, 2, 3, 4}

In [4]:
# 4) union() and update() methods in set:
'''union() method returns a new set which contains all the elements from both sets.
    update() method returns the first set with the elements in the second set.'''
set1={1,2,3,4}
set2={3,4,5,6}
print(set1.union(set2))
set2.update(set1)
print(set2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [5]:
# 5) Dictionary:
'''Dictionary is an ordered collection datatype which stores the values in Key:value pair.
It does not allow duplicate values.'''
dic={"country":"India","state":"Tamil nadu","city":"chennai"}
print(dic)

{'country': 'India', 'state': 'Tamil nadu', 'city': 'chennai'}

In [6]:
# 6) Nested Dictionary:
# Yes, We can create a nested dictionary
dic={1:{"colors":["Blue","Green","Red"]},2:{"objects":["Ball","Book","Table"]}}
print(dic)

{1: {'colors': ['Blue', 'Green', 'Red']}, 2: {'objects': ['Ball', 'Book', 'Table']}}

In [7]:
# 7) setdefault() method:
dic1={"language":"Python","course":"Data Science Masters"}
dic1.setdefault("topics",["Python","Machine Learning","Deep Learning"])
print(dic1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [8]:
# 8) Three view objects in dictionary:
'''dict.keys(),dict.values(),dict.items() are the three view objects in dictionary.'''
dict1={'sport':'cricket','Teams':['India','Australia','England','South Africa','Sri Lanka','New Zealand']}
print("Keys:",dict1.keys())
print("Values:",dict1.values())
print("Items:",dict1.items())

Keys: dict_keys(['sport', 'Teams'])
Values: dict_values(['cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
Items: dict_items([('sport', 'cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])